<% if User.current.allowed_to?(:view_telegram_chat_archive, @issue.project) and @issue.chat_messages.present? %>
  <%= form_tag publish_issue_chat_messages_path, class: 'archive-form' do %>
    <div class="telegram-messages-by-date">
      <% messages_by_date.each do |date, messages| %>
        <% if params[:begin_date].blank? || Date.parse(params[:begin_date]) > Date.parse(date) %>
          <div class="telegram-system-message"><%= date %></div>
        <% end %>
        <%= render partial: "message", collection: messages %>
      <% end %>
    </div>
  <% end %>
<% end %>
